.container {
    max-width: 1200px;
    margin: 0 auto;
}

.filters {
    margin-bottom: 20px;
}

.card {
    margin: 20 auto;

}

.favorite-heart.is-favorite {
    filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(6000%) hue-rotate(345deg) brightness(100%) contrast(100%);
}

.favorite-heart {
    filter: brightness(0) saturate(100%) invert(67%) sepia(92%) saturate(309%) hue-rotate(2deg) brightness(103%) contrast(101%);
}

body {
    background-color: lightgray;
}

.card:hover {
    transform: scale(1.05);
    transition: transform .2s;
}